/* acessa o elemento root e cria variaveis globais(válida em todo o código) */
:root { /*paleta de cores*/
    --primaria: #915f32;
    --secundaria: #ce9056 ;
    --terciaria: #e1e6eb;
    --branco: white;
    --preto: black ;
}

*{ /*regras para todos*/
    margin:0; /*reseta a margem*/
    padding:0; /*reseta o padding*/
    box-sizing: border-box; /*calcula automaticmente as larguras considerando: conteúdo, bordas, margens e paddings*/
}

/* seleciona o header e o footer, coloca cor de fundo e um espaçamento interno */
header, footer{
    background-color: var(--primaria);
    padding: 1rem; /*estudar o porque usar rem e não outras unidades de medida: 1rem equivale a 16px*/
}

/* seleciona o nav, coloca cor de fundo, muda o display para grid, cria uma grade em 5 colunas de largura igual, alinha o texto no centro da coluna, espaçamento interno, espaço entre as colunas e linhas do grid */
nav{
    background-color: var(--secundaria); /*define 5 colunas 1 linha*/
    display: grid; /*transforma o elemento em um contêiner de layout de grade*/
    grid-template-columns: repeat(5, 1fr);  /*define 5 colunas 1 linha*/
    text-align:center; /*alinha os textos*/
    padding: 0.25rem;
    gap: 0.5rem; /*espaçamento entre linhas e as colunas (outras duas formas de usar gap(grid-row-gap(linhas) ou grid-column-gap (colunas))*/
    align-items: center;
}

/* seleciona todos os links dentro de navs, remove a decoração dos links, muda a cor da letra e a exibição do ponteiro do mouse para uma mão */
nav a{
    text-decoration: none; /*tira o sublinhado dos links*/
    color: var(--preto); /*cor da letra dos links*/
    cursor: pointer; /*insere um ponteiro ao passar o mouse no link*/
}

nav a:hover{
    background-color: var(--primaria); 
    color: var(--branco); 
}

/* qualque item com essa classe muda o display para flex, coloca o espaço vazio da horizontal no meio dos elementos, alinha os itens na vertical com base no seu centro */
.logo-busca{
    display: flex; /*transforma os elemento em um contêiner flexível*/
    justify-content: space-between; /*alinha os itens ao longo do eixo principal com espaço entre eles.*/
    align-items: center; /*alinha os itens ao centro de cima pra baixo (verticalmente) */
}

body{
    display:flex;
    flex-direction: column; /* os itens são organizados em uma única coluna, do topo para o fundo do container.*/
    min-height: 100vh; /*O valor 100vh significa que o container terá no mínimo a altura da tela inteira do dispositivo do usuário  (vh significa "viewport height", ou altura da janela de visualização).*/
}

main{
    
    flex-grow: 1;
    background-color: var(--terciaria);
    
}

#index{
    background-image: url("../imgs/biblioteca.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--branco);
    
}

#copy{
    text-align: start;
}

.alinhar{
    display: flex;
    align-items: center;
    /* background-color:aqua; */
}

.img-fim{
    display: flex;
    justify-content: end;
}
.img-fim img{ /*toda a imagem da classe img-fim*/
    margin: 0 1rem;
}

/* QUEM SOMOS */
.centralizar_main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:0;
    text-align: center;
    
}

.centralizar_container{
    max-width: 650px;
    padding: 30px;   
}

.centralizar_titulo_q_somos{
    background-color: var(--primaria);
    width: 250px;
    margin-top:40px;
    margin-bottom: 5px;
}

.titulo_q_somos{
    padding: 3px;
}

.text_q_somos{
    margin-bottom: 40px;
    font-size: 25px;
}

.footer{
    margin-top: 50px;
}

/* CONTATO */
.alinhar_horizontalmente{  /*alinha os elementos horizontalmente*/
    width:600px;
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center; /*não apagar*/
}

.logo_r_social{ /*redimensionar a logo das redes sociais*/
    height: 40px;
    width: 40px;
    padding:5px;
    margin:10px;
    background-color: var(--primaria);
    border-radius:50%;
}

.alinhar_horizontalmente a{ /*alinho os icones em coluna*/
    display:flex;
    align-items: center;
    text-decoration:none;
    color:black;
    font-size:30px;
}

/*FAVORITAR*/
.alinhar_barra_Lateral{
    display: flex;
    margin-top: 30px;
    padding:0;
}

.barra_Lateral{
    background-color:var(--secundaria);
    width: 200px; /*largura*/
    padding: 20px;
    height: 365px;
    position:fixed; /*deixar a barra fixada*/
    border-top-right-radius: 25px;
}

.barra_Lateral a{
    /* display: block;  */
    padding: 10px;
    text-decoration: none; 
    color:var(--preto); 
    font-size: 15px;
    display:flex;
}

.block_categorias{
    background-color: var(--terciaria);
    border: 1px solid #9b9191;
    margin:5px;
    padding:5px; 
}

.barra_Lateral a:hover{
    background-color: var(--primaria); 
    color: var(--branco); 
}

.box_books{
    background-color: var(--secundaria); 
    margin-left: 220px; /*ajustar a margem a esquerda */
    width: 1100px; /*estudar e por responsividades aqui*/
    margin-right: 50px; /*ajustar a margem a direita */
    display:flex;
    justify-content:center;
    height: 100%; 
    color: var(--terciaria);
    align-items:center;  
    border-top-left-radius: 20px; /*não estava funcionando o border-top*/
    border-top-right-radius: 20px;
}

/* .centralizar_icone_mais img{
    display:flex;
    width: 100%;
    flex-direction:column;
    justify-content:center;
    
} */
/* .centralizar_icone_mais img:hover{
    transform: scale(1.3); /* Aumenta o ícone em 20% 
    filter: brightness(1.5); /* Aumenta o brilho, simulando uma mudança de cor 
    
} */


.text_biblioteca_vazia{
    font-size:18px;
    color: var(--terciaria);
}


/* ---------- LOGIN ------------ */
/* Conteiner para por o formulario */
.box_login {
    
    background-color: var(--secundaria);
    padding: 20px;
    border-radius: 25px;
    border:1px solid var(--preto);
    width: 300px;
    height: 300px;
}


/* Formatações padrão */
form {
    display: flex;
    flex-direction: column;
}

label {
     margin: 10px 0 5px; /*margem superior/esquerda-direita/superior*/ 
}

input {
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid var(--terciaria); 
    border-radius: 5px; 
    width:100%;
    
}

button {
    padding: 10px; 
    background-color:var(--primaria); 
    color: var(--branco); 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 60px;
    margin-right: 60px;
    margin-top:15px;
    margin-bottom: 6px;;
}
/* Alinhamento das labeis */
.alinha_label{
    display:flex;
    text-align: left;
}

.esqueceu_senha{
    margin-top: 10px;
}

.cadastro-link  {
    margin-top: 30px;
}


  
/*---------- CADASTRO USUARIO ------------*/
.box_cadastro {
    
    background-color: var(--secundaria);
    padding: 20px;
    border-radius: 25px;
    border:1px solid var(--preto);
    width: 400px;
    height: 500px;
}

a{
    color: var(--preto); 
}
a:hover {
    color: blue;
}

.login-link  {
    margin-top: 20px;
    margin-bottom:40px;
}

.privacidade_link{
    font-size:15px;
}

/* Upload de foto de usuario */
.foto_input{
    display: none; /* Esconde o input file real */
    
}
.foto_upload{
    background-color: #f0f0f0;
    padding: 8px; 
    cursor: pointer; 
    border-radius: 5px; 
   
}
/* ---------- Perfil Usuário -----------*/








/* ---------EDITAR LIVROS e ADICIONAR LIVRO ---------- */
   /* Container Editar livros */


.box_adm { /*container*/
    background-color: var(--secundaria);
    /* padding: 20px;  */
    /* width: 50%; */
    
}
.titulo {  /*corrigir depois*/
   
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: var(--primaria);
    border-radius: 5px;
}
.titulo h2 {
    margin: 0px;
    display: inline-block; /*Elementos inline-block podem ficar lado a lado, respeitando o fluxo do texto.*/
    margin-left: 55px;
    margin-top:20px;
   
}
.icone {
    /* Float:right; faz com que o elemento se mova à direita dentro de seu contêiner pai. Quando aplicada a um elemento, ela faz com que o elemento "flutue" à direita, permitindo que outros elementos de texto ou inline fiquem ao lado dele, preenchendo o espaço à esquerda.*/
    float: right; 
    margin-right: 20px;
    margin-top:18px; 
}

.icone:hover{
    background-color: var(--secundaria);
    border-radius: 100%;
   
}

.form_adm_livro{
   display:flex;
   

}

.input{
   
    width: 70%;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    display:flex;
    align-items: flex-end;
    flex-direction: column;
}

.input input {
    background-color: var(--primaria);
    border:none;
}

.input select {
    border-radius:3px;
    background-color: var(--primaria);
    height: 35px;
    color: var(--branco);
    border:none;
} 

.input input::placeholder{
    color: var(--branco);
}
/* sinopse */
.sinopse{

    padding:10px;
}

.sinopse textarea{
    background-color: var(--primaria);
    text-align: center;
    border-radius:5px;
    border:none;
    
}
.sinopse textarea::placeholder{
    color: var(--branco);
   
}

.upload_livro{
    
    background-color: #9b9191;
    /* padding:10px; */
    width: 136px;
    height: 136px;
    padding:10px;
    margin:10px;
    display:flex;
    align-items: center;
    align-items: center;
    flex-direction: column; 
    
}

.upload_livro label{
    
    width: 100px;
    height: 200px;
    display:flex; 
    text-align: center;  
    align-items: center;
    flex-direction: column; 
    justify-content: center;   
}

/* .upload_livro input{
    display:none;
    cursor: pointer;
} */
 
.upload_livro input {
    display:none;
    
}

.livro_input{
    cursor: pointer; /* Isso muda o cursor para um ponteiro (mãozinha) */
}

.buttoes button {
    background-color: var(--primaria);
    color: var(--branco);
    cursor: pointer;
}
.buttoes button:hover {
    filter: brightness(0.9);
}
    

/* GERENCIAR LIVRO */
.box_gerenciar_livros{
    background-color:var(--secundaria);
    border-radius:10px;
}

.box_gerenciar_livros .buttoes_vertical{
    display:flex;
    justify-content: center;
}
.titulo_container{
   display:flex;
   border-radius:10px;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   margin:0px;
   background-color: var(--primaria);
   /* border-radius: 5px; */
   
}

.buttoes_vertical{ /*DEPOIS MUDO ISSO PARA ALINHAR VERTICAL*/
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
}
.buttoes_vertical button:hover{
    filter: brightness(0.9);
}

.titulo_container a img:hover{
    border-radius:50%;
    background-color: var(--secundaria);
}


/* ---------PERFIL ADM ---------- */
.container_adm {
    background-color: var(--secundaria);
    width: 600px;
    display:flex;
    align-items: center;
    

}
.container_adm .alinhar_coluna_esquerda{
   display:flex;
   flex-direction: column;
}
.container_adm .alinhar_coluna_direita{
    display:flex;
    flex-direction: column;
    
 }