/* acessa o elemento root e cria variaveis globais(válida em todo o código) */
:root { /*paleta de cores*/
    --primaria: #915f32;
    --secundaria: #ce9056 ;
    --terciaria: #e1e6eb;
    --branco: white;
    --preto: black ;
}
 /* fonte do nome da biblioteca */
.fonte_special_elite{
    font-family: "Special Elite", system-ui;
}

*{ /*regras para todos*/
  
    margin:0; /*reseta a margem*/
    padding:0; /*reseta o padding*/
    box-sizing: border-box; /*calcula automaticmente as larguras considerando: conteúdo, bordas, margens e paddings*/
}

.caixa_busca{
    /* height: 35px;
    display:flex;
    align-items: center;
    border: 1px solid var(--preto);
    padding: 10px;
    margin:5px;
    border-radius: 50px; */
    display: flex;
    align-items: center;
    border: 1px solid var(--preto);
    border-radius: 50px;
    padding: 5px 10px;
    margin: 5px;
    height: 35px;

} 



.caixa_busca input{
    
    border:none; /*tira contorno da caixa*/
    outline: none; /*tira o contorno da caixa quando ativa*/
    height: 30px;
    padding: 10px;
    border-radius: 24px; 
    display:flex;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: var(--primaria);
    color: var(--branco);    
} 
/* Define a cor do placeholder */
.caixa_busca input::placeholder {
    color: var(--branco); /* Altera a cor para branco */
    opacity: 0.5; /* Garantir que a cor esteja visível */
    font-size:12px;
}
.icone_pesquisa img:hover{
    cursor:pointer;
}
.icone_pesquisa{
    background: none;
    border: none;
}
.logo-busca{
    display: flex; /*transforma os elemento em um contêiner flexível*/
    justify-content: space-between; /*alinha os itens ao longo do eixo principal com espaço entre eles.*/
    align-items: center; /*alinha os itens ao centro de cima pra baixo (verticalmente) */
}

/* seleciona o header e o footer, coloca cor de fundo e um espaçamento interno */
header, footer{
    background-color: var(--primaria);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.565);
    padding: 1rem; /*estudar o porque usar rem e não outras unidades de medida: 1rem equivale a 16px*/
}




/* -------- Barra de navegação ---------*/
nav{
    background-color: var(--secundaria);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.565);
}

.botton-header nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

/* seleciona todos os links dentro de navs, remove a decoração dos links, muda a cor da letra e a exibição do ponteiro do mouse para uma mão */
.botton-header nav ul li a{
    text-decoration: none; /*tira o sublinhado dos links*/
    color: var(--preto); /*cor da letra dos links*/
    cursor: pointer; /*insere um ponteiro ao passar o mouse no link*/
    padding: 20px 60px;
    display:block;
    transition: .2s;
}

.botton-header nav ul li a:hover{
    background-color: var(--primaria); 
    color: var(--branco); 
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.565);
}

 .drop-hover{
    position: relative;
 }

 .drop-hover .drop{
    background-color: #ce9056ce;
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
 }

 .drop-hover .drop a{
   padding:20px;
 }

 .drop-hover:hover .drop{
    height: 122px;
    position: absolute;
    z-index: 100;

 }

 .alinhar_imagem {
    position: relative;
}

.imagem_alinhar {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.imagem_drop{
    position: absolute;
    top: 50%; 
    right: 40px;
    transform: translateY(-40%); 
}
.text {
    position: relative;
    
}
/* Finaliza barra de navegação */

/* --------- BODY--------- */
/* qualque item com essa classe muda o display para flex, coloca o espaço vazio da horizontal no meio dos elementos, alinha os itens na vertical com base no seu centro */
body{
    display:flex;
    flex-direction: column; /* os itens são organizados em uma única coluna, do topo para o fundo do container.*/
    height: 100vh; /*O valor 100vh significa que o container terá no mínimo a altura da tela inteira do dispositivo do usuário  (vh significa "viewport height", ou altura da janela de visualização).*/
    min-width: 320px; /*largura minima para mobile*/
}

main{
    
    flex-grow: 1;
    background-color: var(--terciaria);
    /* adicionei */
    min-height: 100% vh;
}

#index{
    
    margin: 0 auto;
    width: 95%;
    min-height: 100% vh;
    

    /* Imagem no index */
    /* background-image: url("../imgs/biblioteca.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; */
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--branco);
    text-align:center;

    
    position: sticky;
    bottom: 0;
}

#copy{
    text-align: start;
}

.img-fim{
    display: flex;
    justify-content: end;
}
.img-fim img{ /*toda a imagem da classe img-fim*/
    margin: 0 0.3rem;
}
.img-fim img:hover{
    cursor:pointer;
}
.alinhar_verticalmente{
    display: flex;
    align-items: center;
    justify-content: center;  
}

/* ---------- INDEX ---------*/
/* Filtrar generos */
.filtrar-genero {
    width: 100%;
    margin: 0 auto;
    background-color: #452a05a8;
    padding: 10px; 
  }

  .filtrar-genero ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .botao-genero {
    padding:10px;
    margin:2px;
    background-color: #804408; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave para o hover */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }
  
  .botao-genero:hover {
    background-color: #666;
  }

/*  INDEX CARROSSEL */
#body-index{
    margin:0;
    padding:0;
    width: 100%;
    margin-top: 30px;
    /* height: 300px; */
    min-height: 100vh;
    /* display:flex;
    justify-content: center;
    align-items:center; */
    /* background-color: #9b9191; */
}
.slider{
    /* apagar quero sobrepor o dropdown no carrossel */
    position: relative;
    z-index: 1;
    /* finalizei */
    

    margin:0 auto;
    width:800px;
    height: 250px; /*400*/
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 250px; /* 400*/
    display:flex;
}

.slides input{
    display:none;
}

.slide{
    width: 25%;
    position:relative;
    transition: 2s;
}
.slide img{
    width: 800px;;
}

.manual-navigation{
    position:absolute;
    width: 800px;
    margin-top: -50px;
    display:flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid var(--branco);
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition:1s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--branco);
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid var(--primaria);
    padding:5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position:absolute;
    width: 800px;
    margin-top: 210px; /*360*/
    display:flex;
    justify-content: center;
}

.navigation-auto div:not(:Last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:var(--branco);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:var(--branco);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:var(--branco);
} 
/* Fim código Carrossel

/* --------- não apagar - CODIGO ACERVO DE LIVROS --------- */

/* Utilizando API OPEN LIBRARY */
/* Estilos CSS * */
/* .container-livros {
    /* background-color: aqua; *
    
    margin: 0 auto;
    width:100%;
    /* height: 100vh; *
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:2px;

}

.livro {
   
    margin:10px;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.capa-container {
    position: relative;
    width: 100%;
    height: 200px;
}
.capa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; *
}
.sem-capa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info-livro {
    
    width: 100%;
    background:var(--primaria);
    padding:5px;
    margin:0px;
    border-radius:10px;
    margin-top:30px;
    text-align: left;
}

 .quebra_linha{
    white-space: nowrap; /* Impede a quebra de linha no texto *
    overflow:hidden; /* Oculta o texto que ultrapassa o limite do contêiner*
    text-overflow: ellipsis; /* Adiciona reticências (...) para indicar texto cortado *
}
/* Fim código acervo livros */

/* ------  Exibição de livros no INDEX ------- */
.livros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px; /* Espaço entre os itens */
    background-color: #452a05a8
  }
  
  .livro {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #d4c7b579
  }

  .livro h2 p{
    text-decoration: none;
  }

  .img_livro{
   height: 250px;
   width: 250;
  }

  .ver-detalhes_livro{
    width: 100%;
    height: 30px;
    background-color: rgba(59, 57, 55, 0.565);
    color: var (--branco);
  }

  /* Botão favoritar */
 .livro button{
    margin-top: 10px;
    font-size:30px;
    border: none; /* Remove a borda */
    background: none; /* Remove a cor de fundo */
    color: #bb1414; /* Define a cor do texto */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
 }

/* ---  Livro selecionado ----- */

.btn-voltar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #c27a239c; /* Verde padrão */
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.container_centralizar{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste conforme necessário */
}
.livro-detalhes {
    background-color: #5f421829;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

.livro-info h1 {
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
}

.livro-info img{
    width: 300px;
    height: 380px;
}

.livro-detalhes-extras {
  
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
}

.livro-detalhes-extras p{
    text-align: justify;
}

  /* Adionando estilização no favoritar */
  /* .favoritar {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .favoritar.favoritado {
    color: red;
  } */


/* ---------- QUEM SOMOS ---------- */
.centralizar_main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:0;
    text-align: center;
    
}

.container{  
    max-width: 650px;
    padding: 30px;   
}

#titulo_q_somos{
    background-color: var(--primaria);
    width: 250px;
    margin-top:40px;
    margin-bottom: 5px;
    padding: 3px;
}

#text_q_somos{
    margin-bottom: 40px;
    font-size: 25px;
}

/* ----------- CONTATO ---------- */
.alinhar_horizontalmente{  /*alinha os elementos horizontalmente*/
    /* width:600px;
    margin:0px;
    padding:0px; */
    display:flex;
    justify-content: center;
}

.logo_r_social{ /*redimensionar a logo das redes sociais*/
    height: 40px;
    width: 40px;
    padding:5px;
    margin:10px;
    background-color: var(--primaria);
    border-radius:50%;
}

.alinhar_horizontalmente a{ /*alinho os icones em coluna*/
    display:flex;
    align-items: center;
    text-decoration:none;
    color:black;
    font-size:30px;
}

/*---------- FAVORITAR -----------*/

.livros_favoritos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Para distribuir os itens uniformemente */
}

.livro_favorito{
    flex: 1 0 20%; /* Cada item ocupará 32% da largura, com espaço para crescer e encolher */
    margin-bottom: 20px; /* Espaçamento entre as linhas */
}
.alinhar_barra_Lateral{
    display: flex;
    margin-top: 30px;
    padding:0;
}
/* .barra_menu_categoria{
   
    display:flex;
    align-items: center;
    height: 100%;
    margin-top: 30px;
    padding:0; 
} */

.menu-categorias{
    display:none;
}

.barra_Lateral{
    background-color:var(--secundaria);
    width: 200px; /*largura*/
    padding: 20px;
    height: 365px;
    position:fixed; /*deixar a barra fixada*/
    border-top-right-radius: 25px;
}

.barra_Lateral a{
    /* display: block;  */
    padding: 10px;
    text-decoration: none; 
    color:var(--preto); 
    font-size: 15px;
    display:flex;
}

.block_categorias{
    background-color: var(--terciaria);
    border: 1px solid #9b9191;
    margin:5px;
    padding:5px; 
}

.barra_Lateral a:hover{
    background-color: var(--primaria); 
    color: var(--branco); 
}

.box_books{
    background-color: var(--secundaria); 
    margin-left: 220px; /*ajustar a margem a esquerda*/
    /* width: 1100px; estudar e por responsividades aqui */
    width: 100%;
    margin-right: 20px; /*ajustar a margem a direita */
    display:flex;
    justify-content:center;
    height: 700px; 
    color: var(--terciaria);
    align-items:center;  
    border-radius:20px;
    /* border-top-left-radius: 20px; 
    border-top-right-radius: 20px; */
}

.text_biblioteca_vazia{
    font-size:18px;
    color: var(--terciaria);
}


/* ---------- LOGIN ------------ */
/* Conteiner para por o formulario */
#box_login {
    
    background-color: var(--secundaria);
    padding: 20px;
    border-radius: 25px;
    border:1px solid var(--preto);
    width: 300px;
    height: 300px;
}


/* Formatações padrão */
form {
    display: flex;
    flex-direction: column;
}

label {
     margin: 10px 0 5px; /*margem superior/esquerda-direita/superior*/ 
}

input {
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid var(--terciaria); 
    border-radius: 5px; 
    width:100%;  
}

.botao_entrar{
    padding: 10px; 
    background-color:var(--primaria); 
    color: var(--branco); 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 60px;
    margin-right: 60px;
    margin-top:15px;
    margin-bottom: 6px;;
}
/* Alinhamento das labeis */
.alinha_label{
    display:flex;
    text-align: left;
}

.esqueceu_senha{
    margin-top: 10px;
}

.cadastro-link  {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* CADASTRO ADM */
#box_cadastro_adm{
    background-color: var(--secundaria);
    padding: 20px;
    border-radius: 25px;
    border:1px solid var(--preto);
    width: 400px;
    height: 580px;
}

  
/*---------- CADASTRO USUARIO ------------*/
#box_cadastro { 
    background-color: var(--secundaria);
    padding: 20px;
    border-radius: 25px;
    border:1px solid var(--preto);
    width: 400px;
    height: 500px;
}

a{
    color: var(--preto); 
}
a:hover {
    color: blue;
}

.login-link  {
    margin-top: 20px;
    margin-bottom:40px;
}

.privacidade_link{
    font-size:15px;
    /* margin-bottom:20px; */
}

/* Upload de foto de usuario */
.foto_input{
    display: none; /* Esconde o input file real */
    
}
.foto_upload{
    background-color: #f0f0f0;
    padding: 8px; 
    cursor: pointer; 
    border-radius: 5px; 
   
}


/* ---------EDITAR LIVROS e ADICIONAR LIVRO ---------- */
   /* Container Editar livros */
.box_adm { /*container*/
    background-color: var(--secundaria);
    border-radius:20px;
    /* padding: 20px;  */
    /* width: 50%; */
}
.botao{
    padding:5px; 
    border:none;
    margin:10px;
}
.titulo {  /*corrigir depois*/
   
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: var(--primaria);
    border-radius: 5px;
}
.titulo h2 {
    margin: 0px;
    display: inline-block; /*Elementos inline-block podem ficar lado a lado, respeitando o fluxo do texto.*/
    margin-left: 55px;
    margin-top:20px;
   
}
.icone {
    /* Float:right; faz com que o elemento se mova à direita dentro de seu contêiner pai. Quando aplicada a um elemento, ela faz com que o elemento "flutue" à direita, permitindo que outros elementos de texto ou inline fiquem ao lado dele, preenchendo o espaço à esquerda.*/
    float: right; 
    margin-right: 20px;
    margin-top:18px; 
}

.icone:hover{
    background-color: var(--secundaria);
    border-radius: 100%;
   
}

.form_adm_livro{
   display:flex;
}

.input{
    width: 70%;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    display:flex;
    align-items: flex-end;
    flex-direction: column;
}

.input input {
    background-color: var(--primaria);
    border:none;
}

.input select {
    border-radius:3px;
    background-color: var(--primaria);
    height: 35px;
    color: var(--branco);
    border:none;
} 

.input input::placeholder{
    color: var(--branco);
}
/* sinopse */
.sinopse{

    padding:10px;
}

.sinopse textarea{
    background-color: var(--primaria);
    text-align: center;
    border-radius:5px;
    border:none;
    
}
.sinopse textarea::placeholder{
    color: var(--branco);
   
}

.upload_livro{
    background-color: #9b9191;
    /* padding:10px; */
    width: 136px;
    height: 136px;
    padding:10px;
    margin:10px;
    display:flex;
    align-items: center;
    align-items: center;
    flex-direction: column; 
    
}

.upload_livro label{
    
    width: 100px;
    height: 200px;
    display:flex; 
    text-align: center;  
    align-items: center;
    flex-direction: column; 
    justify-content: center;   
}

.upload_livro input {
    display:none; 
}

.livro_input{
    cursor: pointer; /* Isso muda o cursor para um ponteiro (mãozinha) */
}

.buttoes button {
    background-color: var(--primaria);
    color: var(--branco);
    cursor: pointer;
}
.buttoes button:hover {
    filter: brightness(0.9);
}
    

/* GERENCIAR LIVRO */

.box_gerenciar_livros{
    background-color:var(--secundaria);
    border-radius:10px;   
}

.box_gerenciar_livros .buttoes_vertical{
    display:flex;
    justify-content: center;
    align-items: center;
}
.titulo_container{
   display:flex;
   border-radius:10px;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   margin:0px;
   background-color: var(--primaria); 
}

.buttoes_vertical{ /*DEPOIS MUDO ISSO PARA ALINHAR VERTICAL*/
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
}
.buttoes_vertical button:hover{
    filter: brightness(0.9);
}

.titulo_container .icone_retroceder:hover{
    border-radius:50%;
    background-color: var(--secundaria);
}

.botoes_gerenciar_livros{
    background-color: var(--primaria); 
    color: var(--branco);
    width: 50%;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;  
}

/* teste */
.tira_decoration{
    text-decoration:none;  
}

.buttoes_vertical button a:hover{
    color:#0e0000;
}


/* ---------PERFIL  ---------- */
.box_perfil{
    background-color: var(--secundaria);
    max-width: 500px;
    min-width: 100px;
    display:flex;
    align-items: center;
    
}
.box_perfil .alinhar_coluna_esquerda{
   display:flex;
   flex-direction: column;
   width: 300px;
   
  
}

.alinhar_coluna_esquerda p{
    margin-bottom:30px;
    
}

.botao_container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
   
}
.botoes_gerenciar{
    background-color: var(--primaria); 
    color: var(--branco);
    border: none;
    /* padding: 5px 5px;  */
    border-radius: 5px;
    cursor: pointer;
    /* margin-bottom: 10px;
    margin-top: 10px; */
   
    

}

.alinhar_coluna_esquerda button {
    display:flex;
   
    justify-content: center;
    justify-content: space-between;
}
.box_perfil .alinhar_coluna_direita{

    width: 300px;
    display:flex;
    flex-direction: column;
    /* background-color:aqua; */
    
 }

 .alinhar_coluna_direita input{
    display:flex;
    align-self: center;
 }
.alinhar_coluna_direita button{
    display:flex;
    align-self:center;
    text-align:center;
}

 .alinha_text_esquerda{
    text-align: start;
    margin-bottom:5px;
    
 }


 .moldura_perfil{
    width: 150px;
    height: 150px;
    padding:10px;
    background-color: var(--preto);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    color: var(--preto);
    margin: 0 auto 10px auto;
    cursor: pointer;
 }
.botao_gravar{
    background-color: var(--primaria); 
    color: var(--branco);
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;

}


 .input_file{
    display:none;
 }


 /* -------Perfil usuario */
 .input-relative {
    position: relative;
  }
  

  
  .bnt_absolute {
    position: absolute;
    /* top: 50%; */
    /* left:0px; */
    right: 450px; /* Ajuste a distância do botão em relação à direita */
    transform: translateY(-15%);
    cursor: pointer;
    
   
  }
 /*---------- GERENCIAR CATEGORIAS ---------*/

  .box_titulo {
    background-color: var(--primaria); 
    width: 400px; 
    padding: 10px; 
    border-radius: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;     
} 

.alinhar_esquerda {
    display: flex;
    align-items: center; 
}

.botao_adicionar{
    background-color: var(--secundaria); 
    color: var(--branco);
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
   
}

.botao_adicionar a{
    color: var(--preto);
    text-decoration: none;
}


.botao_adicionar:hover{
    filter: brightness(0.9);
    
    
}

.box_gerenciar_categorias{
    background-color:var(--secundaria);
    border-radius:10px;
    /* height: 600px; */
    width: 400px;
}

 .categoria{
    width: 800px;
    display:flex;
    justify-content: start;
    align-items: center;
    margin-left: 15px;
    
 }


 .alinhar_categorias_adicionadas{
    display:flex;
    justify-content:center;
   
} 

.categorias_adicionadas{
    border-radius: 20px;
    border: solid 2px var(--preto);
    margin:10px;
    background-color:var(--branco);
    height: auto;
    width: 80%;
    display:flex;
    justify-content:flex-end;  
  
} 

.categorias_adicionadas img:hover{
    cursor:pointer;
}
.sem_formatacao_botao {
    background: none;
    border: none;
}
.botao_adicionar{
    font-size:12px;
    padding:10px;

}
/* -- Adicionar categorias -- */
.centralizar_add_categoria{
    display:flex;
    align-items: center;
    justify-content: center;
}


/* --------MEDIA QUERY -------- */
@media screen and (max-width: 556px) {
    /*------- CLASSES GERAIS ------*/
    /* Caixa de pesquisa */
    .logo-busca h1 {
        font-size: 1.2rem;
        white-space: nowrap; /* Garante que o texto não quebre linha */
        margin-right: 10px; /* Espaço entre título e caixa de busca */
        
    }
    .caixa_busca{
        width:100%;
       
    }
    .caixa_busca input::placeholder {
        font-size:11px;   
    }
    /* Barra de navegação */
    nav a {
        white-space: nowrap;
        font-size: 0.7rem; /* Reduz o tamanho da fonte dos links */
        padding: 0.2rem 0.4rem; /* Ajusta o padding dos links */
    }

    nav {
        gap: 0.15rem; /* Mais redução do espaço entre itens */
    }
    /* Foother-Rodapé */
    footer {
        white-space: nowrap;
        align-items: center;
        gap: 0.5rem; /* Reduz o espaço entre os elementos no footer */
    }

    footer div {
        font-size: 0.7rem; /* Reduz a fonte no footer */
    }
    .img-fim img{
        width:20px;
        height: 20px;
    }
    /*---- VIEW: QUEM SOMOS ----*/
    #titulo_q_somos{
        white-space: nowrap;
        width:40%;
        font-size:20px;
    }
    #text_q_somos{
        font-size:16px;
    }

     /*---VIEW: PERFIL----*/
    .box_perfil {
        max-width: 90%;
        margin: 0 auto; /* Centraliza a caixa no viewport */
        padding: 10px;
        display:flex;
        flex-direction:column;
        margin-top:10px;
        margin-bottom: 10px;
        border-radius:10px;
        
    }

    .moldura_perfil {
        width: 100px;
        height: 100px;
    }

    .botoes_gerenciar {
        padding: 10px;
        width: 50%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        white-space: nowrap;
        font-size:11px;
    }
    .alinhar_coluna_direita span{
        font-size:12px;
        margin-left:10px;
        padding:10px;
    }

    .botao_gravar {
        display:flex;
        justify-content: center;
        padding: 10px;
        width: 50%; 
    }
    /* ------- LOGIN ------ */
    .box_login{
       
        margin: 0 auto; /* Centraliza a caixa no viewport */
        margin-top:10px;
        margin-bottom: 10px;
    }

    /* #formatacao_input input{
        width: 50px;
    }  */
    /* ------VIEW: GERENCIAR CATEGORIAS ---- */
    .box_gerenciar_categorias{
        max-width: 90%;
        margin: 0 auto; /* Centraliza a caixa no viewport */
        display:flex;
        flex-direction:column;
        margin-top:10px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .box_titulo{
        width: 100%;
    }

    .titulo_gerenciar_categorias{
        white-space: nowrap;
        font-size:12px;
    }


    /* ----VIEW: GERENCIAR LIVROS ---- */
    .box_gerenciar_livros{
        /* max-width: 100%; */
        width: 350px;
        margin: 0 auto; /* Centraliza a caixa no viewport */
        margin-top:10px;
        margin-bottom: 10px;
    }

   .buttoes_vertical{
    width: 100%;
    white-space: nowrap;
   }

   .titulo_container img{
    width: 20px;
    height: 20px;
    
   }

   .titulo_container h2{
    font-size:20px;
    /* margin-right: 10px;
    margin-left:5px; */
   }


   /* VIEW: EDITAR LIVROS */
   .box_adm{
        max-width: 90%;
        margin: 0 auto; /* Centraliza a caixa no viewport */
        display:flex;
        flex-direction:column;
        margin-top:10px;
        margin-bottom: 10px;
        margin-right: 20px;
   }
   .titulo h2{
    font-size: 20px;
   }

   /* ----VIEW:EDITAR CATEGORIAS----- */
   .box_gerenciar_livros{
        max-width: 90%;
        margin: 0 auto; /* Centraliza a caixa no viewport */
        display:flex;
        flex-direction:column;
        margin-top:10px;
        margin-bottom: 10px;
        margin-right: 20px;
   }
   .titulo_container h2{
        font-size:20px;
   }
  
   /* ----VIEW: CONTATO ---- */
   .alinhar_horizontalmente a{
        font-size:20px;
   }
   .alinhar_horizontalmente img{
    width: 25px;
    height: 25px;
   }

   /* ----VIEW:CADASTRO ---- */
   #box_cadastro{
    width: 90%;
    margin: 0 auto; /* Centraliza a caixa no viewport */
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 20px;
   }
   #box_cadastro button{
    width: 50%;
    font-size:12px;
   }
   
   /* .privacidade_link a{
    margin-bottom:20px;
   } */

/* --- LIVROS FAVORITOS ----- */
  .barra_Lateral{
    Display:none;
  }
  .box_books{
    max-width: 90%;
    margin: 0 auto; /* Centraliza a caixa no viewport */
    margin-bottom: 25px;
  }

  .menu-categorias{
    display:flex;
    background-color:#9b9191;
 }
}

   
