<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estante web</title>
    <link rel="stylesheet" href="../css/style.css">; <!--Se conceta com CSS-->

</head>
<body>
    <header> <!--Cabeça-->
        <div class="logo-busca">
            <h1>Estante Web</h1> <!--Depois adciona a logo também-->
            <form action=""> <!--Formulário/ action: significa quem receberá-->
                <input type="search" name="busca" id="busca"> <!--type=especifica que tipo de processamento nesse caso é de busca/ name="busca: identifica o campo de entrada -->
            </form>

        </div>
    </header>
    <nav> <!--seção de navegação-->
        <a href="../index.html">Início</a> <!--links das seções-->
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar_verticalmente"><img src="../imgs/star.png" alt="" width="20px" height ="20px">Favoritos</a>
        <a href="login.html">Login</a>

    </nav>
    
    <main class="centralizar_main"> <!--principal-->
        <div id="box_cadastro">
            <form action="" method="post" enctype="multipart/form-data"> <!--É necessário adicionar a tag form caso caso o formulario for receber upload-->
                <h4>Crie sua conta</h4>
                <h5><label class="alinha_label" for="foto_perfil">Foto do perfil:</label></h5>
                <label class="foto_upload" for="foto_perfil">
                    <img src="../imgs/icone_upload_foto.svg" alt="" width="20px" height="20px">
                </label>
                <input class=" foto_input" type="file" name="foto_perfil" id="foto_perfil" accept=".png, .jpeg"> <!--upload de foto de perfil: aceita somente imagens png e jpg-->
                <!--Campo Nome-->
                
                <h5><label class="alinha_label" for="name">Name:</label></form></h5>
                <input type="text" name="name" id="name">
                <!--Campo Email-->
                <h5><label class="alinha_label" for="email">Email:</label></h5>
                <input type="email" name="email" id="email">
                <!--Campo Senha-->
                <h5><label class="alinha_label" for="senha">Senha:</label></h5>
                <input type="senha" name="senha" id="senha">
                <!--botão cadastrar-->
                <button style=" padding: 10px; background-color: var(--primaria); border:none; margin-top:25px;" type="submit">CRIAR CONTA</button>
            </form>
            <!--lINKS INFERIORES-->
            <div class="login-link">
                <p >Já é cadastrado? </p>
                <a href="login.html">Acesse sua conta</a>
            </div>
            <!--Links de direitos de privacidade-->
            <div class="privacidade_link">
                <p >Ao seguir com o cadastro, concordo com os
                    <a href="termos_uso.html">Termos de uso</a> e <a href="politicas_privacidade.html">Politicas de privacidade</a> </p>  
            </div>

        </div>
          

    </main> 

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>
        <div>
            Todos os direitos reservados
        </div>
        <div class="img-fim">
            <img src="../imgs/facebook.svg"alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg"alt="" width="30px" height="30px">
        </div>
    </footer> <!--rodapé-->
    
</body>
</html>