<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estante web</title>
    <link rel="stylesheet" href="../css/style.css"> <!--Se conceta com CSS-->

</head>
<body>
    <header> <!--Cabeça-->
        <div class="logo-busca">
            <h1>Estante Web</h1> <!--Depois adciona a logo também-->
            <form action=""> <!--Formulário/ action: significa quem receberá-->
                <input type="search" name="busca" id="busca"> <!--type=especifica que tipo de processamento nesse caso é de busca/ name="busca: identifica o campo de entrada -->
            </form>

        </div>
    </header>
    <nav> <!--seção de navegação-->
        <a href="../index.html">Início</a> <!--links das seções-->
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar"><img src="../imgs/star.png" alt="" width="30px" height ="30px">Favoritos</a>
        <a href="login.html">Login</a>

    </nav>
    
    <main class="alinhar_barra_Lateral"> <!--principal-->
        <div class="barra_Lateral">
            <div class="block_categorias"><a href="#Livros Educativos">Livros Educativos</a></div>
            <div class="block_categorias"><a href="#Livros Religiosos">Livros Religioso</a></div>
            <div class="block_categorias"><a href="#Livros de Romance">Livros de Romance</a></div>
            <div class="block_categorias"><a href="#Livros de Ficcao Cientifica..">Livros de Ficção...</a></div>
            <div class="block_categorias"><a href="#Livros de aventura">Livros de Aventura</a></div>
            <div class="block_categorias"><a href="#Livros Infantis">Livros Infantis</a></div>
            
        </div>
        <div class=""centralizar_box_books> <!--contem o box books-->
            <div class="box_books">
                <div>
                    <h3>Sua biblioteca está vazia</h3>
                </div>
            </div>
        </div> 

    </main> 

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>
        <div>
            Todos os direitos reservados
        </div>
        <div class="img-fim">
            <img src="../imgs/facebook.svg"alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg"alt="" width="30px" height="30px">
        </div>
    </footer> <!--rodapé-->
    
</body>
</html>