<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estante web</title>
    <link rel="stylesheet" href="../css/style.css">; <!--Se conceta com CSS-->

</head>
<body>
    <header> <!--Cabeça-->
        <div class="logo-busca">
            <h1>Estante Web</h1> <!--Depois adciona a logo também-->
            <form action=""> <!--Formulário/ action: significa quem receberá-->
                <input type="search" name="busca" id="busca"> <!--type=especifica que tipo de processamento nesse caso é de busca/ name="busca: identifica o campo de entrada -->
            </form>

        </div>
    </header>
    <nav> <!--seção de navegação-->
        <a href="../index.html">Início</a> <!--links das seções-->
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar"><img src="../imgs/star.png" alt="" width="20px" height ="20px">Favoritos</a>
        <a href="login.html">Login</a>

    </nav>
    
    <main class="centralizar_main"> <!--principal-->
        <div class="container_adm">
            <div class="alinhar_coluna_esquerda">  
                <p>Meu perfil</p>
                <label for="adicionar_foto">
                    <input type="file" name="adicionar_foto" id="adicionar_foto" accept=".png, .jpeg">
                </label>
                <button style="width: 30%">Gerenciar Categorias</button>
                <button style="width: 30%">Gerenciar Livros</button>
            </div>
            <div class="alinhar_coluna_direita">
                <span>Nome::</span>
                    <input type="text" placeholder="Digite seu nome" required style="width: 30%; margin-bottom: 10px;">
                <span>E-mail:</span>
                    <input type="email" placeholder="Digite seu email" required style="width: 30%; margin-bottom: 10px;">
                <span>Senha:</span>
                    <input type="senha" placeholder="Digite sua senha" required style="width: 30%; margin-bottom: 10px;">
                <span>Contato:</span>
                    <input type="contato" placeholder="Digite seu contato" required style="width: 30%; margin-bottom: 10px;">
            </div>
        </div>
        

    
    </main> 

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>
        <div>
            Todos os direitos reservados
        </div>
        <div class="img-fim">
            <img src="../imgs/facebook.svg"alt="" width="30px" height="30px">
            <img src="../imgs/instagram.svg"alt="" width="30px" height="30px">
        </div>
    </footer> <!--rodapé-->
    
</body>
</html>